@use "./partials/variables" as *;
@use "./partials/mixins" as *;

@import "~bootstrap/scss/bootstrap";

h1 {
    color: $primary_color;
}

form {
    .btn {
        text-decoration: none;
        color: currentColor;
        font-weight: bolder;
    }
}
a {
    text-decoration: none;
    color: currentColor;
}

.button-change-db {
    text-align: center;
    color: white;
    font-weight: bolder;
}

.textarea-form {
    min-height: 100px;
}
